.home-hero-banner-top{
  margin-top: 6rem;
  @media (min-width: $md){
    margin-top: 10rem;
  }
  // First Col 
  .skip-bin-info-holder{
  border: 0.4rem dashed $primary;
  border-radius: 1.5rem;
  background-color: $secondaryLight;
  padding: 3rem 0rem 3rem 2rem;
  position: relative;
  @media (min-width: $md){
    padding: 3rem;
    border-radius: 2rem;
  }
  .overlay-image-arrow{
    position: absolute;
    bottom: 100%;
    left: 48%;
    z-index: 99999;
    @media (min-width: $lg){
      left: 56%;

    }
  }
  .title{
    font-size: 3.8rem;
    font-weight: bold;
    .fa{
      color: $primary;
    }
  }
  .desc{
    font-size: 2.5rem;
    font-weight: 300;
    color: $primary;
    
  }
  }
  // Second Col 
  .seven-days-skip-info{
    img{
      display: none;
      @media (min-width: $lg){
        display: block;
      }
    }
    .title{
      font-size: 2.5rem;
      color: $primary;
      margin-top: 2rem;

      @media (min-width: $lg){
        display: none;
      }
    }
  }
}